html, body, #map-canvas, .main-section {
    /* VIEWPORT PERCENTAGES*/
    /*http://stackoverflow.com/a/25829844*/
    /*http://www.w3.org/TR/css3-values/#viewport-relative-lengths*/
    /*http://caniuse.com/#feat=viewport-units*/
    min-height: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}


/********************************************************
Fix for problem with google maps when using Foundation
css and reset css rules:

https://github.com /zurb/ foundation /issues/2462
*/
#map-canvas img {
    max-width: none;
}

#map-canvas label {
    width: auto;
    display: inline;
}

/********************************************************/

.app-icons {
    font-size: 25px;
    float: left;
    margin-top: -5px;
    margin-left: 10px;
}

.headers-provisorios {
    text-align: center;
    background-color: beige;
}

/********************************************************/
/* para o plugin editor de photos, remover o icon da adobe xD*/
#avpw_logo {
    display: none !important;
}
